<template>
  <div class="box">
    <article class="media">
      <figure class="media-left">
        <p class="image is-32x32">
          <b-icon pack="fas" icon="graduation-cap" size="is-medium"></b-icon>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <h1 class="title">Academic Details</h1>
        </div>
      </div>
    </article>
    <div class="box">
      <div class="columns">
        <div class="column is-half">
          <p class="subtitle has-text-light" v-if="role==='student'">
            <strong class="has-text-light">Student number:</strong>
            {{user.studentNum}}
          </p>
          <p class="subtitle has-text-light" v-if="role==='lecturer'">
            <strong class="has-text-light">Qualification:</strong>
            {{user.qualification}}
          </p>
          <p class="subtitle has-text-light" v-if="role==='lecturer'">
            <strong class="has-text-light">School:</strong>
            {{user.school.name}}
          </p>
          <p class="subtitle has-text-light" v-if="role==='student'">
            <strong class="has-text-light">Year of study:</strong>
            {{user.year}}
          </p>
        </div>
        <div class="column is-half"></div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    user() {
      return this.$store.state.User.details;
    },
    role() {
      return this.$store.state.Auth.userRole;
    }
  }
};
</script>

