<template>
  <div class="box is-centered has-text-centered">
    <figure class="image is-128x128 has-background-white is-round">
      <img class="is-rounded" src="assets/user.png">
    </figure>
    <h1 class="title">{{user.firstName}} {{user.lastName}}</h1>
    <hr class="navbar-divider" v-if="role==='student'">
    <br>
    <span v-if="role==='student'">
      <p class="is-size-3">100%</p>
      <p class="is-size-6">Average</p>
      <p class="is-size-3">100%</p>
      <p class="is-size-6">Attendance</p>
    </span>
    <br>
  </div>
</template>
<script>
export default {
  computed: {
    user() {
      return this.$store.state.User.details;
    },
    role() {
      return this.$store.state.Auth.userRole;
    }
  }
};
</script>

<style scoped>
.image {
  margin: auto;
  margin-bottom: 2em;
  border-radius: 50%;
  padding: 5px;
}

.action-icon {
  margin: 1em auto;
}
</style>

