<template>
  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h1 class="title">Create Quote</h1>
        </div>
      </div>
    </article>
    <div class="box">
      <!-- studnet number input -->
      <article class="media">
        <figure class="media-left">
          <p class="image is-32x32">
            <b-icon pack="fas" icon="chalkboard-teacher" size="is-medium"></b-icon>
          </p>
        </figure>
      
        <div class="media-content">
          <div class="content">
            <h2 class="subtitle">Student Number</h2>
          </div>
        </div>
      </article>
      <div class="columns">
        <div class="column is-6 is-offset-1">
          <div class="field">
            <div class="control">
               <input class="input is-primary" type="text" placeholder="Student number"  v-model="studentNr">
            </div>
          </div>
        </div>
      </div>
<!-- studnet number input end -->

<!-- amount due -->
      <article class="media">
        <figure class="media-left">
          <p class="image is-32x32">
            <b-icon pack="fas" icon="file-invoice-dollar" size="is-medium"></b-icon>
          </p>
        </figure>
      
        <div class="media-content">
          <div class="content">
            <h2 class="subtitle">Amount due</h2>
          </div>
        </div>
      </article>
      <div class="columns">
        <div class="column is-6 is-offset-1">
          <div class="field">
            <div class="control">
    
              <input class="input is-primary" type="number" placeholder="Amount due"  v-model="amountDue">
            </div>
          </div>
        </div>
      </div>
      <!-- amount due end -->

      <!-- amount paid -->
      <article class="media">
        <figure class="media-left">
          <p class="image is-32x32">
            <b-icon pack="fas" icon="dollar-sign" size="is-medium"></b-icon>
          </p>
        </figure>
      
        <div class="media-content">
          <div class="content">
            <h2 class="subtitle">Amount Paid</h2>
          </div>
        </div>
      </article>
      <div class="columns">
        <div class="column is-6 is-offset-1">
          <div class="field">
            <div class="control">
              <input class="input is-primary" type="number" placeholder="Amount paid"  v-model="amountPaid">
            </div>
          </div>
        </div>
      </div>
      <!-- amount paid end -->

      <div class="button has-text-centered is-primary" @click="addQuote">Create quote</div>
    </div>
  </div>
</template>



<script>
// import Options from "@/components/ui/Options";
import newQuote from "@/views/ManageFees.vue";
import Fees from "@/store/modules/Fees.js";
import Vue from 'vue';
import Vuex from 'vuex';

export default {
  components: {
  //   // Options,
    newQuote,
    Fees,
    Vue,
    Vuex
  },
  methods: {
    setStudentNr(studentNr) {
      this.$store.dispatch("Fees/setNewStudentNr", studentNr);
    },
    setAmountDue(amountDue) {
      this.$store.dispatch("Fees/setNewAmountDue", amountDue);
    },
    setAmountPaid(amountPaid) {
      this.$store.dispatch("Fees/setNewAmountPaid", amountPaid);
    },
    addQuote() {
      this.$store.dispatch("Fees/sendNewQuote");
      // Vuex.mapActions({
      //     'sendNewQuote': 'Fees/sendNewQuote'
      //   })
    }
  },
  computed: {
    newQuote() {
      return this.$store.state.Fees.newQuote;
      // Vuex.mapActions({
      //     'newQuote': 'Fees/newQuote'
      //   })
    },
    studentNr: {
      get: function() {
        return this.addQuote.studentNr;
      },
      set: function(new_val) {
        this.$store.dispatch("Fees/setNewStudentNr", new_val);
        //  Vuex.mapActions({
        //   'setNewStudentNr': 'Fees/setNewStudentNr'
        // })
      }
    },
    amountDue: {
      get: function() {
        return this.addQuote.amountDue;
      },
      set: function(new_val) {
        this.$store.dispatch("Fees/setNewAmountDue", new_val);
        // Vuex.mapActions({
        //   'setNewAmountDue': 'Fees/setNewAmountDue'
        // })
      }
    },
    amountPaid: {
      get: function() {
        return this.addQuote.amountPaid;
      },
      set: function(new_val) {
        this.$store.dispatch("Fees/setNewAmountPaid", new_val);
        // Vuex.mapActions({
        //   'setNewAmountPaid': 'Fees/setNewAmountPaid'
        // })
      }
    }
  }
};
</script>

