<template>
  <div class="box has-text-centered">
    <p class="subtitle">Create new users</p>
    <div class="buttons has-text-centered">
      <div class="button is-primary is-fullwidth" @click="newUser('admin')">New admin</div>
      <div class="button is-primary is-fullwidth" @click="newUser('student')">New student</div>
      <div class="button is-primary is-fullwidth" @click="newUser('lecturer')">New lecturer</div>
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    newUser(role) {
      this.$store.commit("User/SET_NEW_ROLE", role);
      this.$emit("new");
    }
  }
};
</script>

