<template>
  <b-table
    :data="isEmpty ? [] : users"
    default-sort-direction="asc"
    default-sort="day"
    class="is-fullwidth"
    :paginated="true"
    :per-page="10"
    icon-pack="fa"
    pagination-size="is-small"
    :pagination-simple="true"
  >
    <template slot-scope="props">
      <b-table-column
        field="name"
        label="Name"
        sortable
      >{{ props.row.firstName }} {{ props.row.lastName }}</b-table-column>

      <b-table-column
        v-if="role==='student'"
        field="studentNum"
        label="Student number"
        sortable
      >{{props.row.studentNum}}</b-table-column>

      <b-table-column
        v-if="role==='student' ||role==='lecturer' "
        label="Date of birth"
        sortable
      >{{ props.row.dob }}</b-table-column>
      <b-table-column v-if="role==='student' " label="Contact number">{{ props.row.contactNum }}</b-table-column>
      <b-table-column v-if="role==='lecturer' " label="School">{{ props.row.school.name}}</b-table-column>
    </template>

    <template slot="empty">
      <section class="section">
        <div class="content has-text-grey has-text-centered">
          <p>
            <b-icon icon="emoticon-sad" size="is-large"></b-icon>
          </p>
          <p>Nothing here.</p>
        </div>
      </section>
    </template>
  </b-table>
</template>
<script>
export default {
  props: {
    role: {
      required: true,
      type: String
    },
    users: {
      required: true,
      type: Array
    }
  },
  data() {
    return {
      isEmpty: false
    };
  }
};
</script>

