<template>
  <section class="hero is-fullheight is-dark is-vcentered">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <div class="box">
            <img src="/assets/logo.svg" alt>
            <h3 class="title">Login</h3>
            <p class="subtitle">Please login to proceed.</p>

           <!-- <div class="alert alert-danger" v-if="error">
            <p>There was an error, unable to sign in with those credentials.</p>
        </div> -->

            <form >
              <div class="field">
                <div class="control">

                  
                  <input
                    class="input"
                    type="email"
                    placeholder="Your Email"
                    autofocus
                    v-model="email"
                    required
                  >
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <input
                    class="input"
                    type="password"
                    placeholder="Your Password"
                    v-model="password"
                    required
                  >
                </div>
              </div>
              <!-- <div class="field">
                <label class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
              </div>-->
              <div class="button is-primary is-outlined" @click="login">Login</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      email: null,
      password: null,
      error: false
    };
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters["Auth/user_is_authenticated"];
    }
  },
  methods: {
    login() {
      const data = {
        email: this.email,
        password: this.password
      };
      this.$store.dispatch("Auth/login", data);
      
    }
  },
  watch: {
    isLoggedIn() {
      this.$router.push("/dashboard");
    }
  }
};
</script>
<style scoped>
.hero.is-success {
  background: #f2f6fa;
}
.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box {
  margin-top: 5rem;
}
.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}
</style>

