<template>
  <div>
    <Nav/>
    <FloatingButton link="/dashboard" icon="arrow-left" label="Back to dashboard"/>
    <div class="container">
      <div class="columns" v-if="!creating">
        <div class="column is-one-fifth">
          <UserActions @new="creating=true"/>
        </div>
        <div class="column">
          <div class="box">
            <b-tabs v-model="activeTab">
              <b-tab-item label="Admins">
                <UserList role="admin" :users="admins"/>
              </b-tab-item>
              <b-tab-item label="Students">
                <UserList role="student" :users="students"/>
              </b-tab-item>
              <b-tab-item label="Lecturers">
                <UserList role="lecturer" :users="lecturers"/>
              </b-tab-item>
            </b-tabs>
          </div>
        </div>
      </div>
      <div class="columns is-centered" v-if="creating">
        <div class="column is-7">
          <NewUser @back="creating=false"/>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Nav from "@/components/Nav";
import FloatingButton from "@/components/ui/FloatingButton";
import UserActions from "@/components/admin/manageUsers/UserActions";
import NewUser from "@/components/admin/manageUsers/NewUser";
import UserList from "@/components/admin/manageUsers/UserList";
export default {
  components: {
    Nav,
    FloatingButton,
    UserActions,
    NewUser,
    UserList
  },
  computed: {
    lecturers() {
      return this.$store.state.Classes.available.lecturers;
    },
    admins() {
      return this.$store.state.Classes.available.admins;
    },
    students() {
      return this.$store.state.Classes.available.students;
    }
  },
  data() {
    return {
      activeTab: 0,
      creating: false
    };
  },
  mounted() {
    if (this.$store.state.Auth.userRole !== "admin") {
      this.$router.push("dashboard");
    }
    this.$store.dispatch("Classes/getLecturers");
    this.$store.dispatch("Classes/getStudents");
    this.$store.dispatch("Classes/getAdmins");
  }
};
</script>

