<template>
  <div class="box">
    <article class="media">
      <figure class="media-left">
        <p class="image is-32x32">
          <b-icon pack="far" icon="check-square" size="is-medium"></b-icon>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <h1 class="title">Manage {{action}}</h1>
        </div>
      </div>
    </article>
    <b-table
      :data="isEmpty ? [] : classes"
      default-sort-direction="asc"
      default-sort="day"
      class="is-fullwidth"
      :paginated="true"
      :per-page="10"
      icon-pack="fa"
      pagination-size="is-small"
      :pagination-simple="true"
    >
      <template slot-scope="props">
        <b-table-column field="subject" label="Subject" sortable>{{ props.row.name }}</b-table-column>

        <b-table-column field="day" label="Day" sortable>{{props.row.day }}</b-table-column>

        <b-table-column
          label="Time"
          sortable
        >{{ props.row.startTime }}:00 - {{ props.row.endTime }}:00</b-table-column>
        <b-table-column label="Average" sortable>100</b-table-column>
        <b-table-column label=" ">
          <div
            class="button has-text-centered is-primary"
            @click="$emit('view', props.row)"
          >View / Edit {{action}}</div>
        </b-table-column>
        <b-table-column label=" ">
          <div
            class="button has-text-centered is-primary is-outlined"
            @click="$emit('record', props.row)"
          >Record {{action}}</div>
        </b-table-column>
      </template>

      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p>
              <b-icon icon="emoticon-sad" size="is-large"></b-icon>
            </p>
            <p>Nothing here.</p>
          </div>
        </section>
      </template>
    </b-table>
  </div>
</template>
<script>
export default {
  props: {
    action: {
      required: true,
      type: String
    },
    classes: {
      required: true,
      type: Array
    }
  },
  data() {
    return {
      isEmpty: false
    };
  }
};
</script>

