<template>
  <article class="box full">
    <article class="media">
      <figure class="media-left">
        <p class="image is-32x32">
          <b-icon pack="fas" icon="envelope" size="is-medium"></b-icon>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <h1 class="title">Messages & Notifications</h1>
          <br>
        </div>
      </div>
    </article>
    <div class="box has-background-dark">
      <article class="media">
        <figure class="media-left">
          <p class="image is-32x32">
            <b-icon pack="fas" icon="user" size="is-medium"></b-icon>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Yolandi Gerber</strong>
            </p>
            <p>Please note first years must park at the back of the parking lot.</p>
          </div>
        </div>
      </article>
    </div>
    <div class="box has-background-dark">
      <article class="media">
        <figure class="media-left">
          <p class="image is-32x32">
            <b-icon pack="fas" icon="user" size="is-medium"></b-icon>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Yolandi Gerber</strong>
            </p>
            <p>Marks will be released tomorrow.</p>
          </div>
        </div>
      </article>
    </div>
    <div class="box has-background-dark">
      <article class="media">
        <figure class="media-left">
          <p class="image is-32x32">
            <b-icon pack="fas" icon="user" size="is-medium"></b-icon>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Olalekan Samuel</strong>
            </p>
            <p>It's presentation day!</p>
          </div>
        </div>
      </article>
    </div>
  </article>
</template>
<style scoped>
.full {
  height: 100%;
}
</style>

