<template>
  <b-modal :active="isActive" has-modal-card :width="640" scroll="keep">
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Marks</p>
      </header>
      <div class="modal-card-body">
        <MarksTable :classes="classes"/>
      </div>
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="$emit('close')">Close</button>
      </footer>
    </div>
  </b-modal>
</template>
<script>
import MarksTable from "../student/MarksTable";
export default {
  components: {
    MarksTable
  },
  props: {
    isActive: {
      required: true,
      type: Boolean
    }
  },
  data() {
    return {
      showDetailIcon: true,
      classes: [
        {
          name: "class name",
          average: 100,
          classAverage: 100,
          marks: {
            term1: "mark",
            term2: "mark",
            term3: "mark",
            term4: "mark"
          }
        }
      ]
    };
  }
};
</script>

