<template>
  <article class="box">
    <article class="media">
      <figure class="media-left">
        <p class="image is-32x32">
          <b-icon pack="fas" icon="check-square" size="is-medium"></b-icon>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <h1 class="title">Performance</h1>
        </div>
      </div>
      <div class="media-right">
        <b-icon pack="fas" icon="expand" size="is-medium"></b-icon>
      </div>
    </article>
    <h1 class="subtitle">Attendance</h1>
    <h1 class="attendance has-text-primary has-text-centered">100%</h1>
    <hr class="navbar-divider">
    <h1 class="subtitle">Marks</h1>
    <div class="button is-primary" @click="$emit('marks')">View Marks</div>
  </article>
</template>
<style>
.attendance {
  font-size: 5em;
  font-weight: 800;
}
</style>

