<template>
  <table class="table is-fullwidth">
    <thead>
      <tr class="has-text-centered">
        <td>Time</td>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
      </tr>
    </thead>
    <tbody>
      <TimetableRow v-for="(t, idx) in times" :time="t" :classes="fullSchedule[`${t}`]" :key="idx"/>
    </tbody>
  </table>
</template>
<script>
import TimetableRow from "./TimetableRow";
export default {
  components: {
    TimetableRow
  },
  props: {
    classes: {
      required: true,
      type: Array
    }
  },
  computed: {
    // empty schedule object that can be populated
    cleanSchedule() {
      return this.times.reduce((acc, t) => {
        acc[t] = { ...this.dayObjs };
        return acc;
      }, {});
    },
    // Populated schedule object
    fullSchedule() {
      const schedule = JSON.parse(JSON.stringify(this.cleanSchedule));
      this.classes.forEach(c => {
        this.insertIntoSchedule(c, schedule);
      });
      return schedule;
    }
  },
  methods: {
    //Puts classes where they need to be in the schedule.
    insertIntoSchedule(c, schedule) {
      const maxIdx = this.times.length;
      const stopIdx = this.times.findIndex(t => parseInt(t) === c.endTime);
      let timeIdx = this.times.findIndex(t => parseInt(t) === c.startTime);
      while (timeIdx < maxIdx && timeIdx < stopIdx) {
        schedule[this.times[timeIdx]][c.day] = c;
        timeIdx++;
      }
    }
  },
  data() {
    return {
      days: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
      times: [
        "08:00",
        "09:00",
        "10:00",
        "11:00",
        "12:00",
        "13:00",
        "14:00",
        "15:00",
        "16:00",
        "17:00",
        "18:00"
      ],
      dayObjs: {
        Monday: null,
        Tuesday: null,
        Wednesday: null,
        Thursday: null,
        Friday: null
      }
    };
  }
};
</script>
