<template>
  <tr>
    <th>{{time}}</th>

    <td
      v-if="classes.Monday && classes.Monday.startTime===parseInt(time)"
      :class="classes.Monday.school.name"
    >
      {{classes.Monday.name}}
      <br>
      {{classes.Monday.startTime}}:00 - {{classes.Monday.endTime}}:00
    </td>
    <td
      v-else-if="classes.Monday && classes.Monday.startTime!==parseInt(time)"
      :class="classes.Monday.school.name"
    ></td>

    <td v-else></td>
    <td
      v-if="classes.Tuesday && classes.Tuesday.startTime===parseInt(time)"
      :class="classes.Tuesday.school.name"
    >
      {{classes.Tuesday.name}}
      <br>
      {{classes.Tuesday.startTime}}:00 - {{classes.Tuesday.endTime}}:00
    </td>
    <td
      v-else-if="classes.Tuesday && classes.Tuesday.startTime!==parseInt(time)"
      :class="classes.Tuesday.school.name"
    ></td>
    <td v-else></td>
    <td
      v-if="classes.Wednesday && classes.Wednesday.startTime===parseInt(time)"
      :class="classes.Wednesday.school.name"
    >
      {{classes.Wednesday.name}}
      <br>
      {{classes.Wednesday.startTime}}:00 - {{classes.Wednesday.endTime}}:00
    </td>
    <td
      v-else-if="classes.Wednesday && classes.Wednesday.startTime!==parseInt(time)"
      :class="classes.Wednesday.school.name"
    ></td>
    <td v-else></td>
    <td
      v-if="classes.Thursday && classes.Thursday.startTime===parseInt(time)"
      :class="classes.Thursday.school.name"
    >
      {{classes.Thursday.name}}
      <br>
      {{classes.Thursday.startTime}}:00 - {{classes.Thursday.endTime}}:00
    </td>
    <td
      v-else-if="classes.Thursday && classes.Thursday.startTime!==parseInt(time)"
      :class="classes.Thursday.school.name"
    ></td>
    <td v-else></td>
    <td
      v-if="classes.Friday && classes.Friday.startTime===parseInt(time)"
      :class="classes.Friday.school.name"
    >
      {{classes.Friday.name}}
      <br>
      {{classes.Friday.startTime}}:00 - {{classes.Friday.endTime}}:00
    </td>
    <td
      v-else-if="classes.Friday && classes.Friday.startTime!==parseInt(time)"
      :class="classes.Friday.school.name"
    ></td>
    <td v-else></td>
  </tr>
</template>
<script>
export default {
  props: {
    time: {
      required: true,
      type: String
    },
    classes: {
      required: true,
      type: Object
    }
  }
};
</script>


