<template>
  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h1 class="title">Edit Class</h1>
        </div>
      </div>
      <div class="media-right">
        <div class="button has-text-centered is-primary" @click="$emit('back')">Back to Classes</div>
      </div>
    </article>

    <div class="box">
      <div class="box">
        <article class="media">
          <figure class="media-left">
            <p class="image is-32x32">
              <b-icon pack="fas" icon="chalkboard" size="is-medium"></b-icon>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h2 class="subtitle">Subject</h2>
            </div>
          </div>
        </article>
        <div class="columns">
          <div class="column is-6 is-offset-1">
            <div class="field">
              <div class="control">
                <input
                  class="input is-primary"
                  type="text"
                  placeholder="Subject Name"
                  v-model="subject"
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <article class="media">
          <figure class="media-left">
            <p class="image is-32x32">
              <b-icon pack="fas" icon="school" size="is-medium"></b-icon>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h2 class="subtitle">School</h2>
            </div>
          </div>
        </article>
        <div class="columns">
          <div class="column is-6 is-offset-1">
            <div class="select is-fullwidth">
              <select v-model="school" @input="getAvailableLecturers">
                <option :value="null" disabled>Choose a School</option>
                <option :value="s" v-for="(s, idx) in schools" :key="idx">{{s.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <article class="media">
          <figure class="media-left">
            <p class="image is-32x32">
              <b-icon pack="fas" icon="user" size="is-medium"></b-icon>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h2 class="subtitle">Lecturer</h2>
            </div>
          </div>
        </article>
        <div class="columns">
          <div class="column is-6 is-offset-1">
            <div class="select is-fullwidth">
              <select v-model="lecturer">
                <option :value="null" disabled>Choose a Lecturer</option>
                <option
                  :value="l"
                  v-for="(l, idx) in availableLecturers"
                  :key="idx"
                >{{l.title}} {{l.lastName}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <article class="media">
          <figure class="media-left">
            <p class="image is-32x32">
              <b-icon pack="far" icon="calendar-alt" size="is-medium"></b-icon>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h2 class="subtitle">Day</h2>
            </div>
          </div>
        </article>
        <Options :optionsList="availableDays" @selectOption="setDay" :value="day"/>
      </div>

      <div class="box">
        <article class="media">
          <figure class="media-left">
            <p class="image is-32x32">
              <b-icon pack="far" icon="clock" size="is-medium"></b-icon>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h2 class="subtitle">Time</h2>
            </div>
          </div>
        </article>
        <div class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-32x32"></p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p class="subtitle">Duration</p>
              </div>
            </div>
          </article>
          <Options :optionsList="availableDurations" @selectOption="setDuration" :value="duration"/>

          <article class="media">
            <figure class="media-left">
              <p class="image is-32x32"></p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p class="subtitle">Start</p>
              </div>
            </div>
          </article>
          <Options :optionsList="availableTimes" @selectOption="setStartTime" :value="startTime"/>
        </div>
      </div>

      <div class="box">
        <article class="media">
          <figure class="media-left">
            <p class="image is-32x32">
              <b-icon pack="fas" icon="chalkboard-teacher" size="is-medium"></b-icon>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h2 class="subtitle">Venue</h2>
            </div>
          </div>
        </article>
        <div class="columns">
          <div class="column is-6 is-offset-1">
            <div class="select is-fullwidth">
              <select v-model="venue">
                <option :value="null" disabled>Choose a Venue</option>
                <option :value="v" v-for="(v, idx) in availableVenues" :key="idx">{{v.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <article class="media">
          <figure class="media-left">
            <p class="image is-32x32">
              <b-icon pack="fas" icon="hand-holding-usd" size="is-medium"></b-icon>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h2 class="subtitle">Price</h2>
            </div>
          </div>
        </article>
        <div class="columns">
          <div class="column is-6 is-offset-1">
            <div class="field">
              <div class="control">
                <input class="input is-primary" type="text" placeholder="Price" v-model="price">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="is-clearfix">
        <div class="buttons is-pulled-right">
          <div class="button has-text-centered is-primary" @click="editClass">Edit Class</div>
        </div>
      </div>
    </div>
  </div>
</template>



<script>
import Options from "@/components/ui/Options";
export default {
  components: {
    Options
  },
  computed: {
    editingClass() {
      return this.$store.state.Classes.editingClass;
    },
    availableOptions() {
      return this.$store.state.Classes.available;
    },
    availableDays() {
      return this.availableOptions.days;
    },
    availableTimes() {
      return this.availableOptions.times;
    },
    availableDurations() {
      return this.availableOptions.durations;
    },
    subject: {
      get: function() {
        return this.editingClass.name;
      },
      set: function(new_val) {
        this.$store.dispatch("Classes/setEditingSubject", new_val);
      }
    },
    lecturer: {
      get: function() {
        return this.editingClass.lecturer;
      },
      set: function(new_val) {
        this.$store.dispatch("Classes/setEditingLecturer", new_val);
      }
    },
    venue: {
      get: function() {
        return this.editingClass.venue;
      },
      set: function(new_val) {
        this.$store.dispatch("Classes/setEditingVenue", new_val);
      }
    },
    school: {
      get: function() {
        return this.editingClass.school;
      },
      set: function(new_val) {
        this.$store.dispatch("Classes/setEditingSchool", new_val);
      }
    },
    price: {
      get: function() {
        return this.editingClass.price;
      },
      set: function(new_val) {
        this.$store.dispatch("Classes/setEditingPrice", new_val);
      }
    },
    startTime() {
      return this.editingClass.startTime < 10
        ? `0${this.editingClass.startTime}:00`
        : `${this.editingClass.startTime}:00`;
    },
    duration() {
      const duration =
        parseInt(this.editingClass.endTime) -
        parseInt(this.editingClass.startTime);
      const hours = duration > 1 ? "hours" : "hour";
      return `${duration} ${hours}`;
    },
    day() {
      return this.editingClass.day;
    },
    availableLecturers() {
      return this.$store.state.Classes.available.lecturers;
    },
    availableVenues() {
      return this.$store.state.Classes.available.venues;
    },
    schools() {
      return this.$store.state.Classes.available.schools;
    }
  },
  methods: {
    getAvailableLecturers() {
      if (this.editingClass.school === null) {
        setTimeout(() => this.getAvailableLecturers(), 250);
      } else {
        this.$store.dispatch("Classes/getEditingLecturers");
      }
    },
    getAvailableVenues() {
      this.$store.dispatch("Classes/getVenues");
    },
    setDay(day) {
      this.$store.dispatch("Classes/setEditingDay", day);
    },
    setStartTime(time) {
      this.$store.dispatch("Classes/setEditingStartTime", parseInt(time));
    },
    setDuration(time) {
      this.$store.dispatch("Classes/setEditingDuration", parseInt(time));

      this.getAvailableVenues();
    },
    editClass() {
      this.$store.dispatch("Classes/sendEditingClass");
      this.$store.commit("Classes/RESET_NEW_CLASS");
      this.$emit("back");
    }
  },
  data() {
    return {
      editing: false
    };
  },
  mounted() {
    this.$store.dispatch("Classes/getSchools");
    this.$store.dispatch("Classes/getStudents");
    this.getAvailableLecturers();
    this.getAvailableVenues();
  }
};
</script>

