<template>
  <section>
    <div class="box has-background-dark">
      <div class="columns">
        <div class="column">
          <div class="box">
            <p class="subtitle">Not Assigned</p>

            <div class="select is-multiple is-fullwidth" v-if="notAssignedStudents.length>0">
              <select size="8" name id v-model="leftSelectedStudent">
                <optgroup label="1st Year">
                  <option
                    class="has-text-light"
                    :value="s"
                    v-for="(s, idx) in notAssignedStudentsFirst"
                    :key="idx"
                  >{{s.studentNum}} | {{s.firstName}} {{s.lastName}}</option>
                </optgroup>
                <optgroup label="2nd Year">
                  <option
                    class="has-text-light"
                    :value="s"
                    v-for="(s, idx) in notAssignedStudentsSecond"
                    :key="idx"
                  >{{s.studentNum}} | {{s.firstName}} {{s.lastName}}</option>
                </optgroup>
                <optgroup label="3rd Year">
                  <option
                    class="has-text-light"
                    :value="s"
                    v-for="(s, idx) in notAssignedStudentsThird"
                    :key="idx"
                  >{{s.studentNum}} | {{s.firstName}} {{s.lastName}}</option>
                </optgroup>
              </select>
            </div>
          </div>
          <div class="is-clearfix">
            <div class="is-pulled-right">
              <span @click="assignStudent" :class="leftSelectedStudent?'clickable':'disabled'">
                <b-icon
                  pack="fas"
                  icon="plus"
                  size="is-medium"
                  :type="leftSelectedStudent?'is-primary':'is-grey'"
                ></b-icon>
              </span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <p class="subtitle">In the class</p>

            <div class="select is-multiple is-fullwidth">
              <select size="8" v-model="rightSelectedStudent">
                <option
                  :value="s"
                  v-for="(s, idx) in assignedStudents"
                  :key="idx"
                >{{s.studentNum}} | {{s.firstName}} {{s.lastName}}</option>
              </select>
            </div>
          </div>
          <span @click="unassignStudent" :class="rightSelectedStudent?'clickable':'disabled'">
            <b-icon
              pack="fas"
              icon="minus"
              size="is-medium"
              :type="rightSelectedStudent?'is-primary':'is-grey'"
            ></b-icon>
          </span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Classes from "@/store/modules/Classes";
export default {
  computed: {
    notAssignedStudents() {
      if (this.$store.state.Classes.available.students.length > 0) {
        if (this.assignedStudents.length > 0) {
          return this.$store.state.Classes.available.students.filter(
            student =>
              !this.assignedStudents
                .map(s => {
                  return s.user_id;
                })
                .includes(student.user_id)
          );
        } else {
        }
        return this.$store.state.Classes.available.students;
      } else {
        return [];
      }
    },
    notAssignedStudentsFirst() {
      return this.notAssignedStudents.filter(s => s.year === 1);
    },
    notAssignedStudentsSecond() {
      return this.notAssignedStudents.filter(s => s.year === 2);
    },
    notAssignedStudentsThird() {
      return this.notAssignedStudents.filter(s => s.year === 3);
    },
    assignedStudents() {
      if (
        this.$store.state.Classes.assigningClass.assignedStudents.length > 0
      ) {
        return this.$store.state.Classes.assigningClass.assignedStudents;
      } else {
        return [];
      }
    }
  },
  methods: {
    assignStudent() {
      this.$store.dispatch("Classes/assignStudent", this.leftSelectedStudent);
      this.leftSelectedStudent = null;
    },
    unassignStudent() {
      this.$store.dispatch(
        "Classes/unassignStudent",
        this.rightSelectedStudent
      );
      this.rightSelectedStudent = null;
    }
  },
  data() {
    return {
      leftSelectedStudent: null,
      rightSelectedStudent: null
    };
  }
};
</script>
<style lang="scss" scoped>
@import "@/css/variables.scss";
.select {
  height: 50vh !important;
}

.select select {
  height: 50vh !important;
}

select {
  border-bottom: 2px solid #00000000;
}

select:hover {
  border-bottom: 2px solid #00000000;
}

select:focus {
  border-bottom: 2px solid #00000000;
}

select option {
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $dark;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $primary;
}

.clickable {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}
</style>

