<template>
  <div class="columns has-text-centered">
    <div class="column" v-for="(o, idx) in optionsList" :key="idx">
      <Option :option="o" @toggle="setSelected" :selected="selectedOption === o"/>
    </div>
  </div>
</template>

<script>
import Option from "./Option";
export default {
  components: {
    Option
  },
  props: {
    optionsList: {
      required: true,
      type: Array
    },
    value: {
      required: false,
      type: String || Number
    }
  },
  methods: {
    setSelected(option) {
      this.selectedOption = option;
    },
    isSelected(option) {
      this.selectedOption === option;
    }
  },
  data() {
    return {
      selectedOption: ""
    };
  },
  watch: {
    selectedOption(new_val) {
      this.$emit("selectOption", new_val);
    },
    value(new_val) {
      this.selectedOption = new_val;
    }
  },
  mounted() {
    if (this.value) {
      this.selectedOption = this.value;
    }
  }
};
</script>

<style>
</style>
